<% title 'Lacriment' %>
<% if current_user && current_user.admin %>
  <br>
  <div class="row">
    <div class="col-xs-10">
      <%= link_to 'Yeni Yazı', new_article_path, class: 'btn btn-block btn-warning' %>
    </div>
    <div class="col-xs-2">
      <%= link_to 'Çıkış', destroy_user_session_path, method: :delete, class: 'btn btn-block btn-danger' %>
    </div>
  </div>
  <% if notice %>
    <div class="row">
      <div class="admin-notice col-xs-12">
        <%= notice %>
      </div>
    </div>
  <% end %>
<% end %>
<% @articles.each do |article| %>
  <article>
    <h2>
      <%= link_to article.title, article_path(article) %>
      <% if current_user && current_user.admin %>
        <%= link_to 'düzenle', edit_article_path(article), class:'btn btn-info' %>
        <%= link_to 'sil', article, method: :delete, class:'btn btn-default', data: { confirm: 'emin misin?' } %>
      <% end %>
    </h2>
    <p>
      <%= article.body[0..255].html_safe %>...
    </p>
  </article>
<% end %>
<%= link_to_next_page @articles, 'Öncekiler' %>
<%= link_to_previous_page @articles, 'Sonrakiler' %>
