<%= form_for(@encyclopaedium) do |f| %>
  <% if @encyclopaedium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encyclopaedium.errors.count, "error") %> prohibited this encyclopaedium from being saved:</h2>

      <ul>
      <% @encyclopaedium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'başlık', class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.text_area :body,  placeholder: 'giri', class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Kaydet', class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
